<div class="row">
    <div class="col-md-5 p-3 pr-5">
        <div class="col p-2 m-3 customize-titlebox shadow">    
            <a class="subtitle-text"> Campionati: </a>
        </div>
        <div class="col ml-5 text-center border customize-box shadow"> 
            <ul class="list-inline">
                <li *ngFor="let league of leagues" class="list-inline-item pt-3 pl-4 pr-4 list-text"> 
                    <a [routerLink]="['/LeagueDetail', league.id]" class="costumize-a"> {{league.name}}  </a>
                </li>
            </ul>
        </div>
    </div>
</div>